<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="snippets/head.html"></head>
<body>
<div th:insert="./snippets/nav.html"></div>
<div class="stories-div-id">
    <div class="specific-story-div">
        <div class="card-body">

            <h4 class="card-title" th:text="${storyID.TITLE}"></h4>
            <p class="card-text content-p" th:text="${storyID.CONTENT}"></p>
        </div>
        <div class="date-format">
            <p>Date de création du post : <span th:text="${#temporals.format(storyID.CREATIONDATE, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
            <p>Dernière modification<span th:text="${#temporals.format(storyID.LASTEDITDATE, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
        </div>
        <div>
            <!-- Button trigger update -->
            <button type="button" class="btn btn-primary btn-admin-id date-format"><a th:href="@{'/update/' + ${storyID.ID}}">Modifier</a></button>
        </div>
    </div>
</div>
</body>
</html>