<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:form="http://www.w3.org/1999/html">
<head th:insert="snippets/head.html"></head>
<body>
<div th:insert="snippets/navAdmin.html"></div>
<div>
    <div class="form-group">
        <!-- ------------------ FORM TO CREATE STORY ------------------ -->
        <form id="form-tab" th:action="@{/create}"  th:object="${storyCreate}" name="createStory" method="post">
            <input type="hidden" th:field="*{ID}"/>
            <div class="form-floating">
                <input type="text" class="form-control w-50" id="floatingInput" th:field="*{TITLE}" placeholder="Title">
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-outline">
                <textarea placeholder="Content" class="form-control w-100" id="textAreaExample1" rows="12" th:field="*{CONTENT}"></textarea>
            </div>
            <input type="hidden" th:field="*{CREATIONDATE}"/>
            <input type="hidden" th:field="*{LASTEDITDATE}"/>
            <label class="switch"><input type="checkbox" th:field="*{visible}"><span></span></label>
            <!-------------- /input switch to set visibility------------------ -->
            <div>
                <div class="form-floating">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </form>
        <!-- ------------------ / FORM TO CREATE STORY ------------------ -->
    </div>
</div>
</body>
</html>