<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="snippets/head.html"></head>
<body>
<div th:insert="./snippets/navAdmin.html"></div>
<div class="stories-div">
  <div class="card" th:each="story:${storyList} ">
    <div class="card-body">
      <h4 class="card-title" th:text="${#strings.abbreviate(story.TITLE,150)}"></h4>
      <p class="title-date">Dernière modification : <span th:text="${#temporals.format(story.LASTEDITDATE, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
      <p class="card-text" th:text="${#strings.abbreviate(story.CONTENT,150)}"></p>
    </div>
    <p class="card-title visible-p">Visible : <span th:text=" ${story.visible}"></span></p>
    <div class="btn-list-display">
      <button type="button" class="btn btn-primary"><a th:href="@{'/story/' + ${story.ID}}">Lire</a></button>
      <!-- Button trigger update -->
      <button type="button" class="btn btn-primary"><a th:href="@{'/update/' + ${story.ID}}">Modifier</a></button>
    </div>
  </div>
</div>
</body>
</html>

