<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="/addStory"  method="post" name="createStory">
    <p>Title: <input type="text" name="TITLE"/></p>
    <p>Content: <input type="text" name="CONTENT"/></p>
    <p>Content: <input type="hidden" name="ID"/></p>
    <p>Content: <input type="hidden" name="CREATIONDATE"/></p>
    <p>Content: <input type="hidden" name="LASTEDITDATE"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>