<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="snippets/head.html"></head>
<body>
<div th:insert="snippets/nav.html"></div>
<div class="stories-div">
    <div class="card" style="width: 20vw;" th:each="story : ${storyList}">
        <div class="card-body">
            <h5 class="card-title" th:text="${story.getTITLE}"></h5>
            <p class="title-date">Dernière modification : <br><span th:text="${#temporals.format(story.getLASTEDITDATE, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
            <p class="card-text" th:text="${#strings.abbreviate(story.getCONTENT,150)} "></p>
            <button type="button" class="btn btn-primary"><a th:href="@{'/story/' + ${story.getID}}">Lire</a></button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>