<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Get stories</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Creation Date</th>
        <th>Last EditDate</th>
    </tr>
    <tr th:each="story : ${storyList}">
        <td th:text="${story.getID}"></td>
        <td th:text="${story.getTITLE}"></td>
        <td th:text="${story.getCONTENT}"></td>
        <td th:text="${story.getCREATIONDATE}"></td>
        <td th:text="${story.getLASTEDITDATE}"></td>
    </tr>
</table>
</body>
</html>