<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="snippets/head.html"></head>
<body>
<div th:insert="snippets/nav.html"></div>
<div class="stories-div">
    <div class="card" style="width: 20vw;" th:each="story : ${storyList}">
        <div class="card-body">
            <h5 class="card-title" th:text="${story.getTITLE}"></h5>
            <p class="title-date">Dernière modification : <br><span th:text="${#temporals.format(story.getLASTEDITDATE, 'dd-MM-yyyy HH:mm:ss')}"></span></p>
            <p class="card-text" th:text="${#strings.abbreviate(story.getCONTENT,150)} "></p>
            <button type="button" class="btn btn-primary"><a th:href="@{'/story/' + ${story.getID}}">Lire</a></button>
        </div>
    </div>
</div>
</body>
</html>